  <div>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <p class="fs-1", > <%= state.name %> </p>
  
<table class="table table-danger table-striped ">
  <thead>
      <th scope="col">Cities</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
      <td> <%= city.name %> </td>
      </tr>
   <% end %>
   </tbody>
</table>
</div>



