<p style="color: green"><%= notice %></p>

<h1>Clients List</h1>
<table class="table table-danger table-striped ">
  <thead>
    <tr>
     
      <th scope="col">Name</th>
      <th scope="col">...     </th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
     
      <td> <%= client.nombre %> </td>
      <td>  <%= link_to "See more", client %> </td>
      </tr>
   <% end %>
   </tbody>
</table>


    <%= link_to "New Client", new_client_path, class:"btn btn-secondary" %>

