<h3>
  Welcome...
  <small class="text-muted">Program designed to display and save data, relating them to each other. (first steps) </small>
</h3>

<!-- <%= form_tag "/search/create", method: :get, remote: true, id: "search-form"  do %>
    <%= text_field_tag :keyword, nil, placeholder: "What are you looking for?" %>
    <%= content_tag :button , type: :submit do %>
        search
    <%end%>
<%end%>
-->
