<p style="color: green"><%= notice %></p>

<h1>Companies List </h1>
<table class="table table-danger table-striped ">
  <thead>
    <tr>
     
      <th scope="col">Name</th>
      <th scope="col">...     </th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
     
      <td> <%= company.nombre %> </td>
      <td>  <%= link_to "See more", company %> </td>
      </tr>
   <% end %>
   </tbody>
</table>


    <%= link_to "New Company", new_company_path, class:"btn btn-secondary" %>


